*{
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

body {
    background-color: rgb(205, 219, 219);
}

/* BODY */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  font-size: 20px; 
  top: 0px;
  right: 0px;
  left: 0px;
  position: fixed; 
  background-color: white;
  z-index: 10;
}

.header .logo {
  display: inline-block;
  height: 70px;
  margin-left: 40px;
  cursor: pointer;
  width: 100px;
}

#probleme-form {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
  }

  .probleme-form {
    margin-top: 200px;
  }

